@import './reset.css';
:root {
    --main-color: #040E38;
    --font-color: #888888;
    --contrast-color-dark-bg: #ffffff;
    --shadow-color: #cccccc;
    --font-family: "Open Sans", sans-serif;
}
body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 280vh 40vh;
    grid-template-areas: 
    "headerbox"
    "mainbox"
    "footerbox"; 
    font-family: var(--font-family);
    color: var(--font-color);
}

@media only screen and (max-width: 576px) {
    body {
        grid-template-rows: 100vh 500vh 80vh;
    }
}


.headerbox {
    height: 100%;
    width: 100%;
    grid-area: headerbox;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "navbarbox"
    "heroimagebox"
}

.navbarbox {
    height: 100%;
    width: 100%;
    grid-area: navbarbox;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "logo ulbox"
}

.navbarbox-img {
    grid-area: logo;
    width: 100px;
    display: flex;
    align-self: center;
    justify-self: center;
}

.navbarbox-ulbox {
    height: 100%;
    grid-area: ulbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 150px;
}
.navbarbox-li {
    margin: 0px 25px;
    cursor: pointer;
    font-weight: 300;
    font-size: 20px;
    transition: border 0.2s;
    border-bottom: 2px solid transparent;
}
.navbarbox-li:hover {
    border-bottom: 2px solid var(--main-color);
}

.navbarbox-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbarbox-hamburger {
    width: 50px;
}

@media only screen and (min-width: 576px) {
    .navbarbox-toggle {
        display: none;
    }
    
}

@media only screen and (max-width: 575px) {
  
    .navbarbox-ulbox {
        color: var(--contrast-color-dark-bg);
        background-color: var(--main-color);
        transition: transform .3s ease-in-out;
        position: fixed;
        width: 100%;
        right: -200%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
  
    .navbarbox-ulbox:target {     
        transform: translateX(-125%);
    }

    .navbarbox-li {
        margin: 15px 25px;
        font-size: 35px;
    }
  
    .close {
        text-align: right;
        text-decoration: none;
        font-size: 3em;
        color: var(--contrast-color-dark-bg);
        display: flex;
        justify-self: flex-start;
        align-self: center
    }
  
}

.heroimagebox {
    height: 100%;
    grid-area: heroimagebox;
    background-image: url('./assets/hero-image.png');
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroimagebox-h1 {
    font-weight: 600;
    font-size: 40px;
    color:var(--contrast-color-dark-bg);
    text-align: center;
}
@media only screen and (max-width: 576px) { 
    .heroimagebox-h1 {
        font-size: 35px;
        margin: 0px 15px;
    }
}

.main-button{
    border-radius: 30px;
    padding: 15px 35px;
    background-color: var(--main-color);
    border:none;
    color:var(--contrast-color-dark-bg);
    font-size: 15px;
    outline:none;
    cursor: pointer;
    margin-top: 15px;
}

.mainbox {
    height: 100%;
    grid-area: mainbox;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "aboutbox"
    "treatmentbox"
    "localbox"
    "contactbox";
}


@media only screen and (max-width: 576px) { 
    .mainbox {
        grid-template-rows: 3fr 3fr 3fr 1fr;
    }
}

.aboutbox {
    grid-area: aboutbox;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "aboutbox-title aboutbox-title"
    "aboutbox-image aboutbox-textbox";
}

.aboutbox-h1 {
    grid-area: aboutbox-title;
}

.title-h1 {
    display: flex;
    justify-self: center;
    align-self: center;
    font-weight: 600;
    font-size: 35px;
}

.aboutbox-img {
    grid-area: aboutbox-image;
}
.img {
    width: 350px;
    display: flex;
    align-self: center;
    justify-self: center;
    box-shadow: 10px 10px 20px var(--shadow-color);
}

.textbox {
    width: 60%;
    grid-area: aboutbox-textbox;
    display: flex;
    align-content: center;
    justify-items: center;
    flex-direction: column;
}
.textbox-h2 {
    font-size: 20px;
    margin: 15px 0px;
}

.textbox-ul {
    display: flex;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    list-style: none;
}
.textbox-li {
    margin: 15px 0px;
    display: flex;
    align-items: center;
    justify-self: flex-end;
}
.textbox-li::before {
    content: "•";
    width: 1em;
    font-size: 35px;
    color: var(--main-color);
}

@media only screen and (max-width: 576px) { 
    .aboutbox {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 3fr;
        grid-template-areas: 
        "aboutbox-title"
        "aboutbox-image"
        "aboutbox-textbox";
    }
    .textbox {
        width: auto;
        margin: 0px 30px;
    }
}
section {
    margin: 15px 0px;
}

.treatmentbox {
    grid-area: treatmentbox;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "treatmentbox-title treatmentbox-title"
    "treatmentbox-img treatmentbox-buttonbox";
}

.treatmentbox-h1 {
    grid-area: treatmentbox-title;
}

.treatmentbox-img {
    grid-area: treatmentbox-img;
}

.treatmentbox-buttonbox {
    margin-top: 15px;
    grid-area: treatmentbox-buttonbox;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.treatmentbox-button{
    margin: 15px 0px;
    width: 80%;
}
@media only screen and (max-width: 576px) { 
    .treatmentbox {
        grid-template-columns: 1fr ; 
        grid-template-rows: 1fr 3fr 3fr;
        grid-template-areas: 
        "treatmentbox-title"
        "treatmentbox-img"
        "treatmentbox-buttonbox";
    }
    .treatmentbox-buttonbox {
        justify-content: center;
        align-items: center;
    }
    .treatmentbox-button {
        width: auto;
    }
}
.localbox {
    grid-area: localbox;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "localbox-title localbox-title"
    "localbox-jf localbox-rj";
}
@media only screen and (max-width: 576px) { 
    .localbox {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 3fr 3fr;
        grid-template-areas: 
        "localbox-title"
        "localbox-jf"
        "localbox-rj";
    }
    .map-title {
        margin: 45px;
        text-align: center;
    }
}


.localbox-h1 {
    grid-area: localbox-title;
}

.jfbox {
    grid-area: localbox-jf;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.localbox-map {
    width: 80%;
    height: 100%;
}

.map-title {
    margin: 15px 0px;
}

.rjbox {
    grid-area: localbox-rj;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contactbox {
    grid-area: contactbox;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "contactbox-title"
    "contactbox-form";
}
.contactbox-h1 {
    grid-area: contactbox-title;
}

.contactbox-form {
    grid-area: contactbox-form;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactbox-input {
    padding: 5px;
}
.contactbox-input, .contactbox-textarea {
    margin: 10px 0px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    text-indent: 10px;
    outline: none;
    font-family: var(--font-family);
}
.footerbox {
    height: 100%;
    grid-area: footerbox;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
    "footerbox-sitemap footerbox-social"
    "footerbox-copyright footerbox-copyright";
}

@media only screen and (max-width: 576px) { 
    .footerbox {
        grid-template-columns: 1fr ;
        grid-template-rows: 3fr 3fr 1fr;
        grid-template-areas:
        "footerbox-sitemap"
        "footerbox-social"
        "footerbox-copyright";
    }
}

.footerbox-sitemap {
    grid-area: footerbox-sitemap;
    display: flex;
    justify-content: flex-start;
    margin: 30px;
}


.footerbox-services {
    margin-left: 60px;
    
}
.footerbox-services > :first-child {
    font-weight: 600;
}

.footerbox-homepage > :first-child {
    font-weight: 600;
}

.footerbox-li {
    color: var(--contrast-color-dark-bg);
    margin: 10px 0px;
}

.footerbox-social {
    grid-area: footerbox-social;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerbox-img {
    width: 150px;
}

.footerbox-hr {
    width: 120px;
}

.footerbox-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialicon {
    width: 35px;
    margin: 0px 10px;
}

.footerbox-copyright {
    grid-area: footerbox-copyright;
    color: var(--contrast-color-dark-bg);
    display: flex;
    justify-content: center;
    align-content: center;
}

@media only screen and (max-width: 576px) { 
    .footerbox-sitemap {
        justify-content: center;
    }
    .footerbox-social {
        justify-content: flex-start;
    }
    .footerbox-copyright {
        font-size: 16px;
        text-align: center;
    }
}